@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Press+Start+2P&display=swap');

.widget-item p{
    padding-left: 5px;
    font-size: 12px;
}

.widget-total {
    font-family:'Press Start 2P', cursive; ;

}