@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Press+Start+2P&display=swap');

.widget-item p{
    padding-left: 5px;
    font-size: 12px;
}

.widget-total {
    font-family:'Press Start 2P', cursive;
    background-color: black;
    color: white;
    font-size: 10px;
    padding: 5px 4px;
}

.widgetText {
    padding: 3px;
    font-family:'Press Start 2P', cursive;
    font-size: 10px;
}

.clear {
    color: white;
    font-family: 'Mukta', sans-serif;
}

.clear a{
    text-decoration: none;
    color: white
}

div ul {
    padding: 0 !important;
}



