@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Press+Start+2P&display=swap');


.CardContainer {
    display:inline;
    padding: 15px;
}

.Card {
    background: linear-gradient(45deg, rgba(34,227,238,1) 32%, rgba(170,62,236,1) 98%);
    animation: rotate 5s linear infinite;
    position: relative;
    background-size: 200%;
    max-width: 300px;
    padding: 9px;
    margin: 10px;
}

@keyframes rotate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.Card div{
    background-color: black;
    color: white;
    padding: 12px 5px;
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    height: 300px;
}

.Card div a{
    text-decoration: none;
}

.Card div a p {
    padding-top: 8px;
    color: white;
}

.Card div a h3{
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;
    color: white;
    letter-spacing: 2px;
    padding: 4px;
}

.prodImg {
    width: 200px;
    height: 100px;
}