@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Press+Start+2P&display=swap');

.container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.CardDetailBox {
    border: solid 6px black;
    padding: 0;
    border-radius: 10px;
    animation: colorChange 5s linear infinite;
    width:900px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.CardDetail {
    padding: 15px 5px;
    text-align: center;
    width: 450px;
    font-family: 'Mukta', sans-serif;
}

.productImage {
    margin-top: 5px;
    width: 80%;
    height: auto;
}

.CardDetail p:nth-child(7), .CardDetail p:nth-child(6){
    text-align: justify;
    padding: 0px 25px;
}

@keyframes colorChange {
    0% {
        border: solid 6px rgba(34,227,238,1);
    }
    50% {
        border: solid 6px rgba(170,62,236,1);
    }
    100% {
        border: solid 6px rgba(34, 228, 238, 0.829);
    }
}

.CardDetail h3 {
    background-color: black;
    color: white;
    border-radius: 20px;
    position: relative;
    animation: move 3s ease-in-out infinite;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    padding: 2px 0 ;
    box-shadow: 0 3px 10px 0px rgba(34, 228, 238, 0.829);
}

@keyframes move {
    0% {
        transform: translateY(0px)
    }
    50% {
        transform: translateY(-13px)
    }
    100% {
        transform: translateY(0px)
    }
}

.CardDetail p{
    padding-top: 5px;
    font-size: 12px;
    padding: 5px 20px;
}

.CardDetail .price{
    font-size:25px;
}

.CardDetail span {
    margin: 3px;
}

.CardDetail a {
    text-decoration: none;
}

@media only screen and (min-width: 768px){

    .CardDetailBox {
        display: flex;
        flex-direction: row;
    }

    .CardDetail p{
        padding-top: 10px;
        font-size: 15px;
        padding: 5px 20px;
    }


}